.team-image {
	object-fit: contain;
}

.leaders-card-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 5px;
}

.card-body .leaders-card-text h6 {
	color: #b13f44;
}

.custom-team-container {
	margin: 0 auto;
	padding: 2rem;
	background-color: #0e3252;
	min-height: 5rem;
}

.team_sub_heading {
	position: absolute;
	border: 2px solid white;
	color: #fff;
	letter-spacing: 1px;
	width: 350px;
	padding: 10px;
	border-radius: 0 200px 0 0;
	background-color: #3e5c75;
	opacity: 0.9;
	font-weight: 900;
	transform-origin: left;
	left: 35px;
}

.team_sub_heading h2 {
	font-family: 'Cinzel', san-serif;
}
.team_leader_top {
	transform: rotate(90deg) translate(-9.5%, 0);
}

.team_top_graphic {
	transform: rotate(90deg) translate(-8.5%, 0);
	width: 400px;
}

.team_top_copywriter {
	transform: rotate(90deg) translate(-10%, 0);
}

.team_top_exectives {
	width: 650px;
	right: 1100px;
	transform: rotate(90deg) translate(-5.1%, 0);
}

.team_top_editor {
	width: 650px;
	right: 1050px;
	transform: rotate(90deg) translate(-5.1%, 0);
}

.team_top_developers {
	transform: rotate(90deg) translate(-9.8%, 0);
}

.card-texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 5px;
	height: 40vh;
}

.card-body .card-texts h6 {
	color: #b13f44;
}

.team-card-line {
	background-color: #ec7824;
	display: inline-block;
	height: 2px;
	vertical-align: top;
	width: 250px;
}

.team-sm {
	display: none;
}

@media screen and (max-width: 1100px) {
	.team-leaders {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		min-width: 22rem;
	}
	.col-reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.team-card-line {
		display: none;
	}

	.team_sub_heading {
		display: none;
	}

	.team-sm {
		font-size: 32px;
		color: white;
		display: block;
		text-align: center;
		font-family: 'Cinzel', serif;
	}
}
