.brands {
	height: 45rem;
	width: auto;
}

.brand-container {
	padding: 80px 0px;
}

.red-horizontal-line {
	width: 20px;
	height: 3px;
	background-color: #fff;
}

.our-brands-heading {
	top: -35px;
	right: 5px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	color: white;
}

.brands-para {
	color: white;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.9;
	padding: 20px 0px 30px;
	letter-spacing: 0.7px;
	text-align: justify;
}

.brand-container > div {
	width: 40%;
}

.icons-set-1 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.icons-set-2 {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.round-div {
	margin: auto 10px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #fff;
}

.round-title {
	opacity: 0;
	font-size: 16px;
	font-weight: 400;
	color: white;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 20px;
	margin-top: 10px;
	transition: all 0.8s;
}

.round-div:hover {
	cursor: pointer;
}

.round-div:hover + .round-title {
	opacity: 1;
}

.icon-img {
	font-size: 35px;
}

.icon-img > path {
	color: #0e3252;
}
.brands-content {
	padding: 20px;
}

@media screen and (max-width: 1100px) {
	.brands {
		height: 30rem;
	}
	.brand-container {
		flex-direction: column;
		padding: 20px 0px;
	}
	.brand-container > div {
		width: 100%;
		text-align: center;
	}
	.brands-content {
		margin-top: 2rem;
		padding: 60px 20px 20px;
	}
}
