@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

.service-cont {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	/* top: 40px; */
}

.coloredService-cont {
	display: flex;
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	/* top: 30px; */
}

@media screen and (max-width: 1100px) {
	.coloredService-cont,
	.service-cont {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100vw;
		left: calc(-50vw + 50%);
		box-shadow: 0px 0px 12.61px 0.39px rgb(0 0 0 / 14%);
	}
	.custom-section-container {
		border: 2px solid #f7f7f7;
		padding: 0;
	}
}
